body {
  text-align: center;
  font-family: Verdana, sans-serif;
  background: #EADDC4;
  margin: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.5em; 
  font-weight: bold;
  font-family: "Marko One", Georgia, serif;
  color: #CC6600;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-shadow: 0.2em 0.2em #D3D3D3;
}

h2 {
  text-transform: uppercase;
  color: #7A0002;
  letter-spacing: 0.2em;
}

footer {
  background: #783F27;
  color: #EADDC4;
  font-size: 0.8em;
  padding: 0.5em;
}

footer a {
  color: #DC6903;
}

img {
  width: 100px;
  height: 50px;
}

/* MENU */

ul {
  list-style: none;       
  display: flex;         
  margin: 0.5em;       
  padding: 0;
  background: #783F27;    
}

ul li {
  display: block;
  border: 1px solid #000;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.5em 1em;          
  margin-right: 0.5em;
}

ul li a {
  text-decoration: none;
  color: #DC6903;
}

ul li a:hover {
  color: #F9AB33;
}

#page-accueil .nav-accueil {
  background: #EADDC4;
}

#page-auth .nav-chat,
#page-chat .nav-chat {
  background: #EADDC4;
}

/* PAGE authentification.html */

.cadre {
  border: 4px double #783F27;
  border-radius: 25px;
  margin: 2.5%;
  padding: 1em;
}

.text-input {
  border-radius: 8px;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  background: #783F27;
  border: none;
  border-radius: 12px;
  height: 30px;
  margin-top: 10px;
  color: #D3D3D3;
  cursor: grab;
}

input[type="checkbox"] {
  width: 1.15em;
  height: 1.15em;
}

.auth-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  align-items: center;
}

/* PAGE chat.html */

.chat-cadre {
  border: 4px double #783F27;
  border-radius: 25px;
  margin: 2.5%;
  padding: 1em;
}

select {
  width: 190px;
  height: 30px;
  color: #783F27;
  background: #eeeeee;
  border-radius: 5px;
  box-shadow: 4px 4px #d2cece;
}

.chat-input {
  border-radius: 8px;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.big-text {
  border-style: dotted;
  cursor: not-allowed;
  background: #ded1c5;
}

.chat-btn {
  background: #783F27;
  border: none;
  border-radius: 12px;
  height: 30px;
  margin-top: 10px;
  color: #D3D3D3;
  cursor: grab;
}

.chat-form-grid {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
